// Colours
$primary-accent: #facc15;
$primary-light: #F7F7F7;
$primary-dark: #242424;

// Font families
$ff-primary: 'Montserrat', sans-serif;

// Font sizes
$fs-nm: 1rem;
$fs-md: 1.25rem;
$fs-lg: 2.25rem;

// Font weights
$fw-nm: 400;
$fw-b: 500;
$fw-bb: 600;